<div class= "container">
  <div class= "page-header">
<h1>
    <%= @anxiety_scale.date.strftime("%m/%d/%Y") %>
</h1>
<p> The numbers represent an input from 0-100. Zero being none and 100 being the hardest.
  </div>

  <table class="table">
    <thead>
      <th>Worrying</th>
      <th>Feeling Afraid</th>
      <th>Feeling Tense</th>
      <th>Difficulty Sleeping</th>

    </thead>
    <tbody>
       <% @anxiety_scales.each do |scale| %>
       <tr>
         <td><%= scale.worrying %></td>
         <td><%= scale.feeling_afraid %></td>
         <td><%= scale.feeling_tense %></td>
         <td><%= scale.difficulty_sleeping %></td>
         </tr>
       <% end %>
     </tbody>
   </table>
 </div>
