<div class= "container">
  <div class="page-header">
    <h1>New Stress Log</h1>
  </div>

    <ol class="breadcrumb">
      <li><%= link_to "Assessments", assessments_path %></li>
    </ol>

  <%= form_for @stress_log, html: {class: "form-horizontal"}  do |f| %>
    <%= render partial: "shared/errors", locals: {object: @stress_log, offset_option: 'col-md-offset-2'} %>


    <%= f.label :date %>
    <%= f.date_field  :date %>

    <%= f.label :situation %>
    <%= f.text_area  :situation, :cols =>100, :rows => 5 %>


    <div id="ck-button">
       <label>
          <input type="checkbox" value: 'afraid' ><span>afraid</span>
       </label>
    </div>
    <div id="ck-button">
       <label>
          <input type="checkbox" value: 'angry' ><span>angry</span>
       </label>
    </div>
    <div id="ck-button">
       <label>
          <input type="checkbox" value: 'annoyed' ><span>annoyed</span>
       </label>
    </div>
    <div id="ck-button">
       <label>
          <input type="text" value: 'ashamed' ><span>ashamed</span>
       </label>
    </div>
    <div id="ck-button">
       <label>
          <input type="checkbox" value: 'anxious' ><span>anxious</span>
       </label>
    </div>
    <div id="ck-button">
       <label>
          <input type="checkbox" value: 'bored' ><span>bored</span>
       </label>
    </div>
    <div id="ck-button">
       <label>
          <input type="checkbox" value: 'confused' ><span>confused</span>
       </label>
    </div>
    <div id="ck-button">
       <label>
          <input type="checkbox" value: 'depressed' ><span>depressed</span>
       </label>
    </div>
    <div id="ck-button">
       <label>
          <input type="checkbox" value: 'disappointed' ><span>disappointed</span>
       </label>
    </div>
    <div id="ck-button">
       <label>
          <input type="checkbox" value: 'down' ><span>down</span>
       </label>
    </div>
    <div id="ck-button">
       <label>
          <input type="checkbox" value: 'embarrassed' ><span>embarrassed</span>
       </label>
    </div>
    <div id="ck-button">
       <label>
          <input type="checkbox" value: 'frustrated' ><span>frustrated</span>
       </label>
    </div>
    <div id="ck-button">
       <label>
          <input type="checkbox" value: 'guilty' ><span>guilty</span>
       </label>
    </div>
    <div id="ck-button">
       <label>
          <input type="checkbox" value: 'irritated' ><span>irritated</span>
       </label>
    </div>
    <div id="ck-button">
       <label>
          <input type="checkbox" value: 'lonely' ><span>lonely</span>
       </label>
    </div>
    <div id="ck-button">
       <label>
          <input type="checkbox" value: 'sad' ><span>sad</span>
       </label>
    </div>
    <div id="ck-button">
       <label>
          <input type="checkbox" value: 'jealous' ><span>jealous</span>
       </label>
    </div>
    <div id="ck-button">
       <label>
          <input type="checkbox" value: 'tense' ><span>tense</span>
       </label>
    </div>


    <%= f.check_box :custom %>
    <%= f.text_field  :custom %>

    <%= f.label :thought1, "Thought" %>
    <%= f.text_area :thought1 %>

    <%= f.label :thought2, "Thought" %>
    <%= f.text_area :thought2 %>

    <%= f.label :thought3, "Thought" %>
    <%= f.text_area :thought3 %>

    <%= f.label :thought4, "Thought" %>
    <%= f.text_area :thought4 %>

    <%= f.label :thought5, "Thought" %>
    <%= f.text_area :thought5 %>


<%= f.submit %>
  <% end %>
