<div class= "container">
  <div class="page-header">
    <h1>New Stress Log</h1>
  </div>

    <ol class="breadcrumb">
      <li><%= link_to "Assessments", assessments_path %></li>
    </ol>

  <%= form_for @stress_log, html: {class: "form-horizontal"}  do |f| %>
    <%= render partial: "shared/errors", locals: {object: @stress_log, offset_option: 'col-md-offset-2'} %>

    <div class="form-group">
    <%= f.label :date %>
    <%= f.date_field  :date %>

    <%= f.label :situation %>
    <%= f.text_area  :situation, :cols =>50, :rows => 5 %>
  </div>

    <div class="form-group">
      <div class="checkbox">
        <div class="col-md-10 col-md-offset-2">
            <label>
              <%= f.check_box :afraid %>
              <%= f.label :afraid %>
            </label>
            <label>
              <%= f.check_box :angry %>
              <%= f.label :angry %>
            </label>
            <label>
              <%= f.check_box :annoyed %>
              <%= f.label :annoyed %>
            </label>
            <label>
              <%= f.check_box :ashamed %>
              <%= f.label :ashamed %>
            </label>
            <label>
              <%= f.check_box :anxious %>
              <%= f.label :anxious %>
            </label>
            <label>
              <%= f.check_box :bored %>
              <%= f.label :bored %>
            </label>
            <label>
              <%= f.check_box :confused %>
              <%= f.label :confused %>
            </label>
            <label>
              <%= f.check_box :depressed %>
              <%= f.label :depressed %>
            </label>
            <label>
              <%= f.check_box :disappointed %>
              <%= f.label :disappointed %>
            </label>

            <br>

            <label>
              <%= f.check_box :down %>
              <%= f.label :down %>
            </label>
            <label>
              <%= f.check_box :embarrassed %>
              <%= f.label :embarrassed %>
            </label>
            <label>
              <%= f.check_box :frustrated %>
              <%= f.label :frustrated %>
            </label>
            <label>
              <%= f.check_box :guilty %>
              <%= f.label :guilty %>
            </label>
            <label>
              <%= f.check_box :irritated %>
              <%= f.label :irritated %>
            </label>
            <label>
              <%= f.check_box :lonely %>
              <%= f.label :lonely %>
            </label>
            <label>
              <%= f.check_box :sad %>
              <%= f.label :sad %>
            </label>
            <label>
              <%= f.check_box :jealous %>
              <%= f.label :jealous %>
            </label>
            <label>
              <%= f.check_box :tense %>
              <%= f.label :tense %>
            </label
        </div>
      </div>
    </div>


    <div class="form-group">
      <%= f.label :custom %>
      <%= f.text_field  :custom %>

      <%= f.label :thought1, "Thought" %>
      <%= f.text_area :thought1 %>

      <%= f.label :thought2, "Thought" %>
      <%= f.text_area :thought2 %>

      <%= f.label :thought3, "Thought" %>
      <%= f.text_area :thought3 %>

      <%= f.label :thought4, "Thought" %>
      <%= f.text_area :thought4 %>

      <%= f.label :thought5, "Thought" %>
      <%= f.text_area :thought5 %>
    </div>

<%= f.submit %>
  <% end %>
