<div class= "container">
  <div class="page-header">
    <h1>New Stress Log</h1>
  </div>

    <ol class="breadcrumb">
      <li><%= link_to "Assessments", assessments_path %></li>
    </ol>

  <%= form_for @stress_log, html: {class: "form-horizontal"}  do |f| %>
    <%= render partial: "shared/errors", locals: {object: @stress_log, offset_option: 'col-md-offset-2'} %>


    <%= f.label :date %>
    <%= f.date_field  :date %>

    <%= f.label :situation %>
    <%= f.text_area  :date %>


    <%= f.label %>
    <%= f.check_box :afraid %>

    <%= f.label :angry %>
    <%= f.check_box :angry %>

    <%= f.check_box :annoyed %>

    <%= f.check_box :ashamed %>

    <%= f.check_box :anxious %>

    <%= f.check_box :bored %>

    <%= f.check_box :confused %>

    <%= f.check_box :depressed %>

    <%= f.check_box :disappointed %>

    <%= f.check_box :down %>

    <%= f.check_box :embarrassed %>

    <%= f.check_box :frustrated%>

    <%= f.check_box :guilty %>

    <%= f.check_box :irritated %>

    <%= f.check_box :lonely %>

    <%= f.check_box :sad %>

    <%= f.check_box :jealous %>

    <%= f.check_box :tense %>

    <%= f.check_box :custom %>
    <%= f.text_field  :custom %>

    <%= f.label :thought1, "Thought" %>
    <%= f.text_area :thought1 %>

    <%= f.label :thought2, "Thought" %>
    <%= f.text_area :thought2 %>

    <%= f.label :thought3, "Thought" %>
    <%= f.text_area :thought3 %>

    <%= f.label :thought4, "Thought" %>
    <%= f.text_area :thought4 %>

    <%= f.label :thought5, "Thought" %>
    <%= f.text_area :thought5 %>


<%= f.submit %>
  <% end %>
