<div class="container">

  <div class= "row">
    <div class="col-md-12 page-header">
      <ol class="breadcrumb">
        <li><%= link_to "Assessments", assessments_path %></li>
      </ol>
      <h1 class= "assess">New Stress Log</h1>
    </div>
  </div>

  <div class="row">
    <%= form_for @stress_log, html: {class: "form-horizontal"}  do |f| %>
    <div class="col-md-6">
      <h3>Start with your Thoughts:</h3>
      <div class="well">
        <%= render partial: "shared/errors", locals: {object: @stress_log, offset_option: 'col-md-offset-2'} %>
        <div class="form-group">
          <%= f.label :date, class: "control-label" %>
          <%= f.date_field :date, class: "form-control" %>
        </div>
        <p> Please describe what was happening at the time you had feelings of stress.
        <div class="form-group">
          <%= f.label :situation, class: "control-label" %>
          <%= f.text_area :situation, placeholder: "situation", class: "form-control" %>
        </div>
        <br>
        <p> Please enter in separate boxes thoughts that entered your mind at the time.</p>

        <%= f.label :thought1, "Thought" %>
        <%= f.text_area :thought1 %>

        <%= f.label :thought2, "Thought" %>
        <%= f.text_area :thought2 %>

        <%= f.label :thought3, "Thought" %>
        <%= f.text_area :thought3 %>

        <%= f.label :thought4, "Thought" %>
        <%= f.text_area :thought4 %>
      </div>
    </div>

    <div class="col-md-6">
      <h3 class="assess"> Continue with your Emotions: </h3>
      <div class="well">
        <p> Please record what you were feeling by choosing one or more words to describe the emotions you had at the time.</p>
        <div class="col-md-5">
          <label>
            <%= f.check_box :afraid %>
            <%= f.label :afraid %>
          </label>
        </div>
        <div class="col-md-5">
          <label>
            <%= f.check_box :angry %>
            <%= f.label :angry %>
          </label>
        </div>
        <div class="col-md-5">
          <label>
            <%= f.check_box :annoyed %>
            <%= f.label :annoyed %>
          </label>
        </div>
        <div class="col-md-5">
          <label>
            <%= f.check_box :ashamed %>
            <%= f.label :ashamed %>
          </label>
        </div>
        <div class="col-md-5">
          <label>
            <%= f.check_box :anxious %>
            <%= f.label :anxious %>
          </label>
        </div>
        <div class="col-md-5">
          <label>
            <%= f.check_box :bored %>
            <%= f.label :bored %>
          </label>
        </div>
        <div class="col-md-5">
          <label>
            <%= f.check_box :confused %>
            <%= f.label :confused %>
          </label>
        </div>
        <div class="col-md-5">
          <label>
            <%= f.check_box :depressed %>
            <%= f.label :depressed %>
          </label>
        </div>
        <div class="col-md-5">
          <label>
            <%= f.check_box :disappointed %>
            <%= f.label :disappointed %>
          </label>
        </div>
        <div class="col-md-5">
          <label>
            <%= f.check_box :down %>
            <%= f.label :down %>
          </label>
        </div>
        <div class="col-md-5">
          <label>
            <%= f.check_box :embarrassed %>
            <%= f.label :embarrassed %>
          </label>
        </div>
        <div class="col-md-5">
          <label>
            <%= f.check_box :frustrated %>
            <%= f.label :frustrated %>
          </label>
        </div>
        <div class="col-md-5">
          <label>
            <%= f.check_box :guilty %>
            <%= f.label :guilty %>
          </label>
        </div>
        <div class="col-md-5">
          <label>
            <%= f.check_box :irritated %>
            <%= f.label :irritated %>
          </label>
        </div>
        <div class="col-md-5">
          <label>
            <%= f.check_box :lonely %>
            <%= f.label :lonely %>
          </label>
        </div>
        <div class="col-md-5">
          <label>
            <%= f.check_box :sad %>
            <%= f.label :sad %>
          </label>
        </div>
        <div class="col-md-5">
          <label>
            <%= f.check_box :jealous %>
            <%= f.label :jealous %>
          </label>
        </div>
        <div class="col-md-5">
          <label>
            <%= f.check_box :tense %>
            <%= f.label :tense %>
          </label>
        </div>
        <%= f.submit "Submit for your results", class: "btn btn-primary"  %>
      </div>
    </div>
    <% end %>
  </div>
</div>
