<div class= "container">
  <div class= "page-header">
<h1>
    <%= @stress_log.date.strftime("%m/%d/%Y") %>
</h1>     
  </div>

  <table class="table">
    <thead>
      <th>angry</th>
      <th>annoyed</th>
      <th>ashamed</th>
      <th>bored</th>
      <th>depressed</th>
      <th>disappointed</th>
      <th>down</th>
      <th>embarrassed</th>
      <th>frustrated</th> <br>
      <th>guilty</th>
      <th>irritated</th>
      <th>lonely</th>
      <th>sad</th>
      <th>jealous</th>
      <th>tense</th>
    </thead>
    <tbody>
       <% @stress_logs.each do |log| %>
       <tr>
         <td><%= log.annoyed %></td>
         <td><%= log.angry %></td>
         <td><%= log.ashamed %></td>
         <td><%= log.anxious %></td>
         <td><%= log.bored %></td>
         <td><%= log.confused %></td>
         <td><%= log.depressed %></td>
         <td><%= log.disappointed %></td>
         <td><%= log.down %></td>
         <td><%= log.embarrassed %></td>
         <td><%= log.frustrated %></td>
         <td><%= log.guilty %></td>
         <td><%= log.irritated %></td>
         <td><%= log.lonely %></td>
         <td><%= log.sad %></td>
         <td><%= log.jealous %></td>
         <td><%= log.tense %></td>
       </tr>
       <% end %>
     </tbody>
   </table>

     <table class="table">
       <thead>
         <th>thought1</th>
         <th>thought2</th>
         <th>thought3</th>
         <th>thought4</th>
         <th>thought5</th>
         <th>thought6</th>
       </thead>
       <tbody>
        <% @stress_logs.each do |log| %>
        <tr>
          <td><%= log.thought1 %></td>
          <td><%= log.thought2 %></td>
          <td><%= log.thought3 %></td>
          <td><%= log.thought4 %></td>
          <td><%= log.thought5 %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
