<div class= "container">
  <div class= "page-header">
<h1>
    <%= @stress_log.date %>
</h1>
  </div>

  <table class="table">
    <thead>
      <th>Date</th>
      <th>Links</th>
    </thead>
    <tbody>
       <% @stress_logs.each do |log| %>
       <tr>
           <td><%= log.:annoyed %></td>
           <td><%= log. %></td>
           <td><%= log. %></td>
           <td><%= log. %></td>

           <td><%= link_to "delete", stress_log_path(log), class: "btn btn-info", method: :delete,
           data: { confirm: "Are you sure?"} %>
           </td>
         </tr>
       <% end %>
     </tbody>
   </table>
 </div>

 <%= f.check_box :annoyed %>

     <%= f.check_box :ashamed %>

     <%= f.check_box :anxious %>

     <%= f.check_box :bored %>

     <%= f.check_box :confused %>

     <%= f.check_box :depressed %>

     <%= f.check_box :disappointed %>

     <%= f.check_box :down %>

     <%= f.check_box :embarrassed %>

     <%= f.check_box :frustrated%>

     <%= f.check_box :guilty %>

     <%= f.check_box :irritated %>

     <%= f.check_box :lonely %>

     <%= f.check_box :sad %>

     <%= f.check_box :jealous %>

     <%= f.check_box :tense %>

     <%= f.check_box :custom %>
     <%= f.text_field  :custom %>

     <%= f.label :thought %>
     <%= f.text_area :thought %>

     <%= f.label :thought %>
     <%= f.text_area :thought %>

     <%= f.label :thought %>
     <%= f.text_area :thought %>

     <%= f.label :thought %>
     <%= f.text_area :thought %>

     <%= f.label :thought %>
     <%= f.text_area :thought %>
