<div class="container">
  <div class= "col-md-6 col-md-offset-2">
    <div class="well">

      <div class="page-header">
        <h3>Sign up for <span class="logo"> TherapyFixx </span></h3>
      </div>
      <% if @user.errors.any? %>
        <% @user.errors.full_messages.each do | message | %>
          <h5 class= "text-danger"><%= message %> </h5>
        <% end %>
      <% end %>

      <%= form_for @user, url: sign_up_path do |f| %>
        <div class="form-group">
          <%= f.label :first_name, class: "control-label" %>
          <%= f.text_field :first_name, class: "form-control" %>
        </div>
        <div class="form-group">
          <%= f.label :last_name, class: "control-label" %>
          <%= f.text_field :last_name, class: "form-control" %>
        </div>
        <div class="form-group">
          <%= f.label :email, class: "control-label" %>
          <%= f.text_field :email, class: "form-control" %>
        </div>
        <div class="form-group">
          <%= f.label :therapist_code, class: "control-label" %>
          <%= f.password_field :therapist_code, class: "form-control" %>
        </div>
        <div class="form-group">
          <%= f.label :password, class: "control-label" %>
          <%= f.password_field :password, class: "form-control" %>
        </div>
        <div class="form-group">
          <%= f.label :password_confirmation, class: "control-label" %>
          <%= f.password_field :password_confirmation, class: "form-control" %>
        </div>
        <div class="form-group">
          <%= f.submit "Sign Up", class: "btn btn-default" %>
        </div>

      <% end %>

    </div>
  </div>
</div>
