
    <div class="container">
      <div class="page-header">
        <h1>Start Here!</h1>
      </div>
        <div class="row">
          <div class= "col-md-4 start">
            <h2 class="featurette-heading"><%=link_to "Sessions", sessions_path %></h2>
              <h4><span class="text-muted">Guided therapy on-demand.</span></h4>
            <img class="featurette-image img-circle img-responsive center-block" <%=image_tag("sessions.jpg") %>
          </div>

          <div class= "col-md-4 start">
            <h2 class="featurette-heading"><%=link_to "Assessments", assessments_path %></h2>
                <h4><span class="text-muted">Your daily benchmarks.</span></h4>
            <img class="featurette-image img-circle img-responsive center-block" <%=image_tag("newtangled.jpg") %>
          </div>

          <div class= "col-md-4 start">
            <h2 class="featurette-heading"><%=link_to "Journals", journals_path %></h2>
                <h4><span class="text-muted">Track your progress.</span></h4>
            <img class="featurette-image img-circle img-responsive center-block" <%=image_tag("journal1.jpg") %>
        </div>
      </div>
    </div>
