<div class= "col-md-6 col-md-offset-3">
    <div class="well">
      <div class="page-header">
        <h3>Sign in for <span class="logo"> TherapyFixx </span></h3>
      </div>
        <% if flash[:danger] %>
        <h5 class= "text-danger"><%= flash[:danger] %> </h5>
        <% end %>
      <%= form_tag sign_in_path, class: "form-horizontal" do %>
          <div class="form-group">
            <%= label_tag :email %>
            <%= text_field_tag :email, nil, class: "form-control" %>
          </div>
          <div class="form-group">
            <%= label_tag :password %>
            <%= password_field_tag :password, nil, class: "form-control" %>
          </div>
          <div class="form-group.submit">
            <%= submit_tag "Sign In", class: "btn btn-default"  %>
            <% end %>
          </div>
    </div>
</div>
