<div class="container">
  <div class="journals">
    <img class="featurette-image img-circle img-responsive pull-right" <%=image_tag("journal1.jpg") %>
    <h2 class="featurette-heading">Journaling<br>
      <span class="text-muted">Track your progress.</span>
    </h2>
  <p class="lead">Your journal is designed to help you record your feelings in situations that trigger your emotions. Your entries can be analyzed by your therapist for reference in your in-person sessions. Your therapist can also login and comment on these entries for helpful feedback.</p>
  </div>
  <h1>Journals <%=link_to "New Journal", new_journal_path, class: "btn btn-info" %></h1>


<table class="table">
  <thead>
    <th>Name</th>
    <th>Entries</th>
  </thead>
  <tbody>
     <% @journals.each do |journal| %>
       <tr>
         <td><%= link_to journal.name, journal_path(journal) %></td>
         <td><%= link_to journal.entries.count, journal_path(journal) %></td>
         <td><%= link_to "delete", journal_path(journal), class: "btn btn-info", method: :delete,
         data: { confirm: "Are you sure?"} %> </td>
       </tr>
     <% end %>
   </tbody>
 </table>
</div>
